In [216]:
import pandas as pd

import numpy as np

In [217]:
all_data = pd.read_csv('all_data_ch.csv').drop(columns=['imdbId',"rating","userId"]).drop_duplicates(subset="movieId")

In [218]:
all_data

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Horror,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,47,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
4,50,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100820,160341,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
100821,160527,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
100823,160836,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
100827,163937,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
100828,163981,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [219]:
user_movies=pd.read_csv("user_movies.csv")[["imdbId","average_rating"]]

In [220]:
links= pd.read_csv("links.csv")
links

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]

In [221]:
all_data=all_data.merge(links, on="movieId")

In [222]:
all_data=all_data.merge(user_movies, on="imdbId")

In [223]:
all_data.drop(columns=["imdbId",'tmdbId'],inplace=True)

In [224]:
all_data.drop_duplicates(subset="movieId",inplace=True)

In [225]:
all_data

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.813953
215,3,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.173077
267,6,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,3.872549
369,47,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,3.857143
572,50,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,4.102941
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,160341,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2.000000
100832,160527,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,4.000000
100833,160836,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,3.000000
100834,163937,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000
100835,163981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000

In [226]:
all_data.to_csv("all_data_average_rating.csv",index=False)

In [227]:
all_data = pd.read_csv('all_data_average_rating.csv')

In [228]:
user_movies

         imdbId  average_rating
0        117628        3.250000
1         86190        4.025510
2         34492        3.184211
3        120915        2.971429
4        120657        2.730769
...         ...             ...
100831  1288558        3.000000
100832   116367        3.400000
100833   114608        3.000000
100834    72271        3.153846
100835    93177        3.266667

[100836 rows x 2 columns]

In [229]:
movies=pd.read_csv("movies.csv")

In [230]:

# add a niew coulumn conating the yerar of realease of the film form the title 

movies['year']=movies['title'].str.extract('(\d{4})')

In [231]:
years=movies[['year','movieId']]
years

      year  movieId
0     1995        1
1     1995        2
2     1995        3
3     1995        4
4     1995        5
...    ...      ...
9737  2017   193581
9738  2017   193583
9739  2017   193585
9740  2018   193587
9741  1991   193609

[9742 rows x 2 columns]

In [232]:
all_data=all_data.merge(years, on="movieId")

In [233]:
all_data

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating,year
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3.813953,1995
1,3,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,3.173077,1995
2,6,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,3.872549,1995
3,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.857143,1995
4,50,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.102941,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,160341,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2.000000,1997
9720,160527,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,4.000000,1971
9721,160836,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,3.000000,2005
9722,163937,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016
9723,163981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016

In [234]:
all_data.year = all_data.year.astype(float)

In [235]:
all_data

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating,year
0,1,1,1,1,1,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3.813953,1995.0
1,3,0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,3.173077,1995.0
2,6,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,3.872549,1995.0
3,47,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.857143,1995.0
4,50,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.102941,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,160341,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,2.000000,1997.0
9720,160527,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,4.000000,1971.0
9721,160836,0,0,0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,3.000000,2005.0
9722,163937,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016.0
9723,163981,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016.0

In [236]:
all_data.year.fillna(all_data.year.mean(),inplace=True)

C:\Users\AHMED OSAMA\AppData\Local\Temp\ipykernel_7312\2689836537.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  all_data.year.fillna(all_data.year.mean(),inplace=True)

In [237]:


cosine_similarity(all_data)

array([[1.        , 0.99999882, 0.99999585, ..., 0.01296636, 0.01279769,
        0.0127944 ],
       [0.99999882, 1.        , 0.99999818, ..., 0.01396878, 0.01380012,
        0.01379682],
       [0.99999585, 0.99999818, 1.        , ..., 0.01547237, 0.0153037 ,
        0.0153004 ],
       ...,
       [0.01296636, 0.01396878, 0.01547237, ..., 1.        , 0.99999999,
        0.99999999],
       [0.01279769, 0.01380012, 0.0153037 , ..., 0.99999999, 1.        ,
        1.        ],
       [0.0127944 , 0.01379682, 0.0153004 , ..., 0.99999999, 1.        ,
        1.        ]])

In [238]:
all_data.set_index('movieId',inplace=True)

In [239]:
all_data

,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,Thriller,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating,year
movieId,,,,,,,,,,,,,,,,,,,,,
1,1,1,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.813953,1995.0
3,0,0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,3.173077,1995.0
6,0,0,0,0,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,3.872549,1995.0
47,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.857143,1995.0
50,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,4.102941,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160341,0,0,0,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,2.000000,1997.0
160527,0,0,0,0,0,0,1,1,1,0,...,0,0,0,0,0,0,0,0,4.000000,1971.0
160836,0,0,0,0,0,0,1,1,0,1,...,0,0,0,0,0,0,0,0,3.000000,2005.0
163937,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.000000,2016.0
163981,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016.0

In [248]:
all_data.reset_index(inplace=True)

In [251]:
all_data.iloc[[83,134]]

,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,Crime,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating,year
83,1258,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.944954,1980.0
134,2115,1,0,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,3.500000,1984.0

In [255]:
user_movies=pd.read_csv("user_movies.csv")

In [256]:
user_movies[[userId",]]

,userId,imdbId,last_seen,rating,Adventure,Animation,Children,Comedy,Fantasy,Romance,...,Mystery,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating
0,1,117628,0,4,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,3.250000
1,1,86190,117628,5,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,4.025510
2,1,34492,86190,5,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,3.184211
3,1,120915,34492,4,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,2.971429
4,1,120657,120915,4,1,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,2.730769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100831,610,1288558,93605,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000
100832,610,116367,1288558,4,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,3.400000
100833,610,114608,116367,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.000000
100834,610,72271,114608,3,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.153846
100835,610,93177,72271,4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3.266667

In [ ]:
similarity

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,1.000000,0.773921,0.623564,0.288566,0.288517,0.264215,0.254834,0.250408,0.240032,0.237075,...,0.220633,0.220631,0.220633,0.220631,0.220632,0.220625,0.220635,0.220630,0.220630,0.220630
1,0.773921,1.000000,0.897986,0.707624,0.707516,0.689186,0.682035,0.677710,0.670817,0.667252,...,0.653604,0.653604,0.653605,0.653603,0.653604,0.653598,0.653607,0.653603,0.653603,0.653602
2,0.623564,0.897986,1.000000,0.859390,0.861799,0.844667,0.836002,0.835905,0.829343,0.825815,...,0.816534,0.816533,0.816533,0.816532,0.816534,0.816530,0.816537,0.816534,0.816532,0.816532
3,0.288566,0.707624,0.859390,1.000000,0.999800,0.998891,0.998290,0.998358,0.997741,0.997468,...,0.996203,0.996203,0.996203,0.996203,0.996203,0.996203,0.996204,0.996203,0.996203,0.996203
4,0.288517,0.707516,0.861799,0.999800,1.000000,0.998727,0.998342,0.998212,0.997596,0.997323,...,0.996058,0.996058,0.996058,0.996058,0.996058,0.996058,0.996059,0.996058,0.996058,0.996058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,0.220625,0.653598,0.816530,0.996203,0.996058,0.998417,0.999167,0.999242,0.999644,0.999799,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9720,0.220635,0.653607,0.816537,0.996204,0.996059,0.998417,0.999168,0.999243,0.999645,0.999799,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9721,0.220630,0.653603,0.816534,0.996203,0.996058,0.998417,0.999167,0.999243,0.999644,0.999799,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9722,0.220630,0.653603,0.816532,0.996203,0.996058,0.998417,0.999167,0.999243,0.999644,0.999799,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9723,0.220630,0.653602,0.816532,0.996203,0.996058,0.998417,0.999167,0.999243,0.999644,0.999799,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [242]:
similarity.loc[86].sort_values(ascending=False)

86      1.000000
134     1.000000
8717    1.000000
2969    1.000000
1254    1.000000
          ...
8941    0.999998
7046    0.999998
7959    0.999998
7774    0.999998
8666    0.999998
Name: 86, Length: 9724, dtype: float64

In [ ]:
similarity= pd.DataFrame(cosine_similarity(all_data) )

In [ ]:
all_data.

,index,movieId,Adventure,Animation,Children,Comedy,Fantasy,Romance,Drama,Action,...,Sci-Fi,War,Musical,Documentary,IMAX,Western,Film-Noir,no genres listed,average_rating,year
0,0,1,1,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,3.813953,1995.0
1,1,3,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,3.173077,1995.0
2,2,6,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,3.872549,1995.0
3,3,47,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.857143,1995.0
4,4,50,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4.102941,1995.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,9719,160341,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,2.000000,1997.0
9720,9720,160527,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,4.000000,1971.0
9721,9721,160836,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,3.000000,2005.0
9722,9722,163937,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016.0
9723,9723,163981,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3.000000,2016.0

In [241]:
similarity

,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
0,1.000000,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,...,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999
1,0.999999,1.000000,0.999999,0.999999,0.999999,0.999999,1.000000,0.999999,0.999999,1.000000,...,0.999999,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,1.000000
2,0.999999,0.999999,1.000000,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,...,1.000000,0.999999,0.999999,0.999999,1.000000,0.999999,1.000000,1.000000,1.000000,0.999999
3,0.999999,0.999999,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,0.999999,...,0.999999,1.000000,0.999999,1.000000,1.000000,0.999999,0.999999,1.000000,1.000000,1.000000
4,0.999999,0.999999,1.000000,1.000000,1.000000,0.999999,0.999999,0.999999,0.999999,0.999999,...,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9719,0.999999,0.999999,0.999999,0.999999,0.999999,1.000000,0.999999,0.999999,0.999999,0.999999,...,1.000000,1.000000,0.999999,1.000000,1.000000,1.000000,0.999999,1.000000,1.000000,1.000000
9720,0.999999,0.999999,1.000000,0.999999,0.999999,0.999999,0.999999,1.000000,1.000000,0.999999,...,0.999999,0.999999,0.999999,0.999999,0.999999,0.999999,1.000000,1.000000,0.999999,0.999999
9721,0.999999,0.999999,1.000000,1.000000,0.999999,1.000000,0.999999,1.000000,1.000000,0.999999,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
9722,0.999999,0.999999,1.000000,1.000000,0.999999,1.000000,0.999999,0.999999,0.999999,0.999999,...,0.999999,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,1.000000,1.000000,1.000000
9723,0.999999,1.000000,0.999999,1.000000,0.999999,1.000000,0.999999,0.999999,0.999999,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.999999,1.000000,1.000000,1.000000